body {
  background: rgb(107, 106, 106);
  border: 0;
  margin: 0;
  padding: 0;
}

.center {
  display: block;
  position: relative;
  top: 50%;
  left: 10%;
  width: 80%;
  color: #fff;
}

/* task2 */

table {
  margin: 0;
  padding: 0;
  border: 0;
}

thead h1 .fz {
  font-size: 2em;
}
tr {
  margin: 0;
  padding: 0;
  border: 0;
}

td {
  float: left;
  border: 3px solid #000;
}

.htr1 {            
  height:  50px;
}

.htr2 {
  height: 125px;
}

.htr3 {
  height: 16px;
}

.wtd1 {
  width: 125px;
}

.wtd2 {
  width: 200px;
}

.wtd3 {
  width: 150px;
}

.wtd4 {
  width: 50px;
}

.wtd5 {
  width: 275px;
}

.wtd6 {
  width: 71px;
}

.wtd7 {
  width: 283px;
}

.wtd8 {
  width: 67px;
}

.wtd9 {
  width: 142px;
}

.yellow {
  background-color: rgb(202, 202, 75);
}

.red {
  background-color: rgb(245, 86, 86);
}

.black
{
  background-color: rgb(34, 32, 32);
}

.blue {
  background-color: rgb(3, 69, 144);
}

.bbot {
  border-bottom: 0;
}

.btop {
  border-top: 0;
}

/* task2 */

/* form */

 .inline {
  display: inline;
  clear: right;
}

.float {
  float: left;
}

input {
  
}